*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada:wght@500;700&display=swap');

body{
    background-color: #ee6055;
}

header{
    height:15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom:solid 1px;
}

.logo{
    width: 5vw;
}

.menu, h1{
    display: none;
}

nav{
    width: 60%;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    text-transform: capitalize;
}

li{
    font-size:2vw;
    font-weight: 500;
}



@media(max-width:800px){
    body{
        background-color: #ffd97d;
    }

    header{
        flex-direction: row-reverse;
    }

    figure{
        padding: 2vw;
    }

    h1{
        display: initial;
        font-size:6vw;
        color:red;
        font-weight: 700;
    }

    .logo{
        width: 70px;
    }

    nav{
        display:none;
    }

    .menu{
        display: initial;
        width:10vw;
    }
}

main{
    width: 100%;
    height: 50vh;
    border:solid;
    display: flex;
    justify-content: center;
}

.mask{
    width: 15vw;
}


.box{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}


.box:hover::before{
    content: 'Have coffe Here, come on my friends, lets together';
    position: absolute;
    border:solid;
    height: 15vh;
    width: 20vw;
    font-size:2vw;
    color:#57625c;
    background-color: azure;
    font-weight: 700;
}